@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using SqliteDemo.Models.Entity;

@model Doctor[]
<h4>Doctor List</h4>
<ul>
    @foreach (Doctor doc in Model)
    {
        <li>@doc.DoctorID,  @doc.DoctorName, @doc.DoctorEmail,
        @doc.Salt, @doc.HashedPassword, @doc.DoctorSex, @doc.IsAdmin, @doc.Status</li>
    }
</ul>
